{{ define "create"}}

{{ template "header"}}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Add bank</h1>
    <form action="/save" method="POST">
        <input type="text" name="name" id="name" placeholder="Bank's name" class="form-control"><br>
        <input type="text" name="interest_rate" id="interest_rate" class="form-control" placeholder="Input interest rate"></textarea><br>
        <input type="text" name="maximum_loan" id="maximum_loan" class="form-control" placeholder="Input maximum loan"></textarea><br>
        <input type="text" name="minimum_down_payment" id="minimum_down_payment" class="form-control" placeholder="Input minimum down payment"></textarea><br>
        <input type="text" name="loan_term" id="loan_term" class="form-control" placeholder="Input loan term"></textarea><br>
        <button class="btn btn-warning">Add bank</button>
    </form>
    
</main>
{{ template "footer"}}
{{ end }}