    {{ define "index" }}
    {{ template "header"}}


    <center><table border="1">
        <caption style="caption-side:top">Banks</caption>
        <tr>
            <th>#</th>
            <th>Bank name</th>
            <th>Interest rate</th>
            <th>Maximum loan</th>
            <th>Minimum down payment</th>
            <th>Loan term</th>
        </tr>
        {{ range .}}
        <tr onclick="window.location='/bank/{{ .Id }}';">

            <td>{{ .Id }}</td>
            <td>{{ .BankName }}</td>
            <td>{{ .InterestRate }}</td>
            <td>{{ .MaximumLoan }}</td>
            <td>{{ .MinimumDownPayment }}</td>
            <td>{{ .LoanTerm }}</td>
        </tr>

        {{ end }}
    </table></center>

    {{ template "footer"}}
    {{ end }}